div:hover{
    border: red;
}

div:nth-of-type(1){
    background-color: violet;;
}

div:nth-of-type(2){
    background-color: aqua;
}

div:nth-of-type(3){
    background-color: indianred;
}

div:nth-of-type(4){
    background-color: olive;
}

div:nth-of-type(5){
    background-color: lightpink;
}

div:nth-of-type(1) >h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    font-style: italic;
}

div:nth-of-type(2) >h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
}

div:nth-of-type(3) >h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-style: italic;
    
}

div:nth-of-type(4) >h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

div:nth-of-type(5) >h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-style: italic;
}
